body {
  min-height: 75rem;
  padding-top: 3.3rem;
  background-color: #eee9e3 !important;
}
.basket-icon,
.github-icon {
  font-family: "Poiret One", cursive;
  color: white;
  font-size: 30px;
  margin-left: auto;
  margin-right: 30px;
  cursor: pointer;
}
.github-icon {
  font-size: 40px;
}
/* .banner {
  
} */
#container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1100px;
  margin: 50px auto;
}
/* .nav-color {
} */
#store-name {
  font-size: 40px !important;
  padding: 0 !important;
}
.card {
  text-align: center;
  margin: 10px;
  width: 250px !important;
  box-shadow: 0px 8px 8px 0px #928d8d !important;
}
/* .jsonlink {

} */
#bestallning-body {
  text-align: center;
  box-sizing: border-box;
}
#container2 {
  width: 50%;
  margin: auto;
}
tr,
td {
  width: 50px;
  border: 1px solid black;
}
img {
  width: 100%;
}
form {
  width: 35%;
  margin: 60px auto;
  text-align: left;
}
#message,
#msgEmail {
  color: red;
  padding: 0 10px;
  display: none;
}
footer {
  width: 100%;
  height: 200px;
  background-color: rgb(48, 43, 43);
  color: white;
  display: flex;
  align-items: center;
}
#footer {
  background-color: #54b7b2 !important;
}
.social-media {
  width: 40px;
  height: 40px;
  border: 1px solid white;
}
input {
  border: none !important;
}
.index {
  display: flex;
  background-color: #C398CD;
  border: none;
  justify-content: center !important;
  margin: 0;
  width: 100%;
  border-radius: 0;
}
.index:hover {
  background-color: rgb(68, 65, 65);
  color: #eee9e3;
}
